<div class="modal-header">
    <button type="button" class="close"
            data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Application Name:</h4>
</div>
<div class="modal-body">
    <p>Are You Sure want to delete the Record.?</p>
</div>
<div class="modal-footer">
    <button type="button" ng-click="cp.open()"
            class="btn btn-success" data-dismiss="modal"><span>Yes</span>
    </button>
    <button type="button" class="btn btn-default"
            data-dismiss="modal">No
    </button>
</div>