<div class="col-md-3 left_col menu_fixed">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>{{'myApplication'|camelCaseToHuman}}</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <!--<div class="profile">
            <div class="profile_pic">
                <img src="assets/images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>John Doe</h2>
            </div>
        </div>-->
        <!-- /menu profile quick info -->

        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>{{navMenuCtrl.root.title}}</h3>
                <ul class="nav side-menu">
                    <li data-ng-repeat="menuItem in navMenuCtrl.root.items|orderBy:'index'"
                        data-ng-hide="menuItem.hidden"
                        data-ng-class="{active:navMenuCtrl.activeMenuStat==menuItem.state}"
                        data-ng-click="navMenuCtrl.activeMenuStat=menuItem.state">
                        <a><i class="fa fa-{{menuItem.icon}}"></i> {{menuItem.title}}
                            <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" data-ng-if="menuItem.items"
                            data-ng-style="{display: navMenuCtrl.activeMenuStat==menuItem.state? 'block':'none'}">
                            <li data-ng-repeat="subMenuItem in menuItem.items|orderBy:'index'"
                                data-ng-hide="subMenuItem.hidden"
                                data-ng-class="{'current-page':navMenuCtrl.activePageStat==subMenuItem.state}"
                                data-ng-click="navMenuCtrl.activePageStat=subMenuItem.state">
                                <a ui-sref="{{subMenuItem.state}}">{{subMenuItem.title}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <!--<footer></footer>-->
        <!-- /menu footer buttons -->
    </div>
</div>
<!-- top navigation -->
<!--<top-nav></top-nav>-->
<!-- /top navigation -->

