target
out
build
.gradle
*.ids
*.ipr
*.iws
.classpath
.idea
stacktrace.log
*.DS_Store
derby.log
.project
.settings
logs/*
.env
.sass-cache
.sass-work
.jruby-container
.asscache
.slcache
/node_modules/
application-development.yml