<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Artifacts</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table dataTable table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Type</th>
                                    <th>Count</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="artefact in applicationCtrl.applicationInfo.artefacts">
                                    <td>
                                        <span data-ng-bind="$index + 1"></span>
                                    </td>
                                    <td>
                                        <span data-ng-bind="artefact.type"></span>
                                    </td>
                                    <td>
                                        <span data-ng-bind="artefact.size"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>