<div data-ng-init="applicationCtrl.getJVMDetails()">
    <content-table-widget data="applicationCtrl.jvm.os" title="Operating System"></content-table-widget>
    <content-table-widget data="applicationCtrl.jvm.classLoading" title="Class Loading"></content-table-widget>
    <content-table-widget data="applicationCtrl.jvm.heapUsage" title="Heap Memory Usage"></content-table-widget>
    <content-table-widget data="applicationCtrl.jvm.nonHeapUsage" title="Non-Heap Memory Usage"></content-table-widget>
    <content-table-widget data="applicationCtrl.jvm.runTime" title="Runtime"></content-table-widget>
</div>
